<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사용자 목록 관리</title>
    <link rel="stylesheet" href="./user-list-style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h3>사용자 목록 관리</h3>

        <!-- 사용자 추가 폼 -->
        <div>
          <input type="text" placeholder="이름 입력" v-model="newName" />

          <!-- 이름이 입력되어 있지 않으면 화면에 출력 -->
          <span class="error" v-show="newName.length === 0"
            >이름을 입력하세요</span
          >
          <br />

          <input type="text" placeholder="전화번호 입력" v-model="newPhone" />
          <span class="error" v-show="newPhone.length === 0"
            >전화번호를 입력하세요</span
          >
          <br />

          <select v-model="newRegion">
            <option value="" disabled selected>지역 선택</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="부산">부산</option>
            <option value="제주">제주</option>
          </select>
          <span class="error" v-show="newRegion.length === 0"
            >지역을 선택하세요</span
          >
          <br />

          <!-- 추가 버튼 클릭 시 addUser 메서드 호출 -->
          <button @click="addUser">사용자 추가</button>
        </div>

        <!-- 필터링 옵션 -->
        <div class="controls">
          <select v-model="selectRegion">
            <option value="">모든 지역</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="부산">부산</option>
            <option value="제주">제주</option>
          </select>
        </div>

        <!-- 사용자 목록 테이블 -->
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>전화번호</th>
              <th>지역</th>
              <th>삭제</th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(user, index) in users"
              :key="user.id"
              class="user-item"
              v-show="selectRegion === '' || user.region ===selectRegion"
            >
              <!-- <td>{{index+1}}</td> : 새로고침 시 코드가 잠깐 보임-->
              <td v-text="index + 1"></td>
              <td v-text="user.name"></td>
              <td v-text="user.phone"></td>
              <td v-text="user.region"></td>
              <td>
                <button @click="deleteUser(index)">삭제</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- users에 등록된 사용자가 없을 경우 -->
        <p v-if="users.length === 0">등록된 사용자가 없습니다</p>

        <!-- 지역 필터링 결과가 없을 경우 -->
        <!-- 배열.some(콜백) : 배열 내 요소 중 하나라도 true가 반환되면 true
             모두 다 false라면 false -->
        <p
          v-if="users.length > 0
          && !users.some(user => selectRegion === '' || user.region === selectRegion) "
        >
          선택한 지역에 사용자가 없습니다
        </p>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      const model = {
        // 사용자가 저장될 배열
        users: [
          { id: 1, name: '짱구', phone: '010-1111-2222', region: '서울' },
          { id: 2, name: '철수', phone: '010-3333-4444', region: '경기' },
          { id: 3, name: '유리', phone: '010-5555-6666', region: '부산' },
        ],

        // 새 사용자 추가 시 입력된 값을 저장할 속성
        newName: '',
        newPhone: '',
        newRegion: '',

        //지역 필터링 속성
        selectRegion: '',
      };

      const vm = Vue.createApp({
        name: 'App',
        data() {
          return model;
        },

        // Vue 인스턴스 내에서 사용할 메서드를 작성하는 속성
        methods: {
          addUser() {
            // 이름, 전화번호, 지역이 모두 입력된 경우
            if (this.newName && this.newPhone && this.newRegion) {
              // 입력된 정보를 담은 user 객체 생성
              const user = {
                id: Date.now(),
                name: this.newName, // 현재 this는 data return model
                phone: this.newPhone,
                region: this.newRegion,
              };

              // users 배열에 마지막 요소로 추가 (push())
              this.users.push(user);

              // 이전 입력 값 모두 제거
              (this.newName = ''), (this.newPhone = ''), (this.newRegion = '');
            }
          },

          // 삭제 버튼 클릭 동작
          deleteUser(index) {
            // 매개변수 index : 함수 호출 시 전달 받은 index
            console.log('index : ', index);

            // 배열.splice(인덱스, 개수)
            // - 배열 요소를 인덱스부터 지정된 개수만큼 삭제
            this.users.splice(index, 1);
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
